:root {
  --base: #1e1e2e;
  --crust: #11111b;
  --text: #cdd6f4;
  --subtext: #bac2de;
  --mauve: #cba6f7;
  --sapphire: #6365f7;
  --violet: #b146d7;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  background: radial-gradient(
    circle at center,
    var(--base) 0%,
    var(--crust) 100%
  );
}

main {
  margin: auto;
  color: var(--text);
}

figure,
figcaption {
  display: flex;
  flex-direction: column;
  align-items: center;
}

figcaption h1 {
  color: transparent;
  font-weight: 900;
  font-size: 3rem;
  letter-spacing: -0.02em;
  margin: 0;
  position: relative;
  display: inline-block;
  padding: 0.5rem;
  margin-bottom: 0.6rem;
  background-image: linear-gradient(180deg, var(--text) 30%, var(--mauve) 100%);
  background-clip: text;
  -webkit-background-clip: text;
}

figcaption h1::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  filter: blur(0.4px);
  background: linear-gradient(
    90deg,
    transparent 0%,
    var(--violet) 20%,
    var(--sapphire) 50%,
    var(--violet) 80%,
    transparent 100%
  );
  clip-path: polygon(0% 0%, 100% 0%, 95% 100%, 5% 100%);
  transform-origin: center;
  transform: scaleX(0);
  animation: drawLine 1.2s cubic-bezier(0.65, 0, 0.35, 1) forwards;
  animation-delay: 0.5s;
}

@keyframes drawLine {
  from {
    transform: scaleX(0);
    opacity: 0.2;
  }
  to {
    transform: scaleX(1);
    opacity: 1;
  }
}

figcaption span {
  letter-spacing: 0.2em;
  font-size: 0.8rem;
  opacity: 0.8;
  color: var(--subtext);
}